I had previously downloaded the html files manually so in this notebook I will extract the table from the html file transform it to a DataFrame clean it and save it as a csv file.

In [ ]:
import pandas as pd
import numpy as np
import os
import re
from datetime import date

# ignore SettingWithCopyWarning:
pd.options.mode.chained_assignment = None

In [75]:
folder_html = 'Gold_de'
folder_csv = 'Gold_de_csv'
start = 'gold_de_'
end = '.html'

In [89]:
os.listdir(folder_html)

['gold_de_27.04.2020.html',
 'gold_de_08.05.2020.html',
 '.DS_Store',
 'gold_de_04.05.2020.html',
 'gold_de_11.05.2020.html',
 'gold_de_05.05.2020.html',
 'gold_de_12.05.2020.html',
 'gold_de_07.05.2020.html',
 'gold_de_28.04.2020.html',
 'gold_de_01.05.2020.html',
 'gold_de_29.04.2020.html',
 'gold_de_13.05.2020.html',
 'gold_de_14.05.2020.html',
 '.ipynb_checkpoints',
 'gold_de_30.04.2020.html']

In [17]:
# besides the ones for 14.05 and 13.05, I need every csv file
file_list = [
            start + '27.04.2020' + end,
            start + '28.04.2020' + end,
            start + '29.04.2020' + end,
            start + '30.04.2020' + end,
            start + '01.05.2020' + end,
            start + '04.05.2020' + end,
            start + '05.05.2020' + end,
            start + '07.05.2020' + end,
            start + '08.05.2020' + end,
            start + '11.05.2020' + end,
            start + '12.05.2020' + end
            ]

In [18]:
file_list

['gold_de_27.04.2020.html',
 'gold_de_28.04.2020.html',
 'gold_de_29.04.2020.html',
 'gold_de_30.04.2020.html',
 'gold_de_01.05.2020.html',
 'gold_de_04.05.2020.html',
 'gold_de_05.05.2020.html',
 'gold_de_07.05.2020.html',
 'gold_de_08.05.2020.html',
 'gold_de_11.05.2020.html',
 'gold_de_12.05.2020.html']

In [49]:
# test the for loop before applaying teh cleaning steps 
df_list = list()
for file in file_list:
    df = pd.read_html(f'{folder_html}/{file}')
    df = df[1]
    df_list.append(df)

In [28]:
len(df_list) == len(file_list)
# should be true

True

In [60]:
df_list[10]

,Rang,Produktbezeichnung,Produktpreis,Preis/kg,Preis/oz,Preis/g,Aufgeld in %,Aufgeld in %.1,Unnamed: 8
0,"Produkte: Münzen Barren Münzbarren, TafelnBudg...","Produkte: Münzen Barren Münzbarren, TafelnBudg...","Produkte: Münzen Barren Münzbarren, TafelnBudg...","Silberspot/kg460,11 EUR","Silberspot/oz14,31 EUR","Silberspot/g0,46 EUR",NaN,NaN,NaN
1,1,Silberbarren 1000 ozGold & Silver World,"16.930,52 EUR","604,70 EUR","18,81 EUR","0,60 EUR","31,43 %",NaN,NaN
2,2,Silberbarren 1 kgcoininvest.com,"622,98 EUR","623,00 EUR","19,38 EUR","0,62 EUR","35,40 %",NaN,NaN
3,3,Münzbarren 5 kgMP Edelmetalle,"3.145,57 EUR","629,10 EUR","19,57 EUR","0,63 EUR","36,73 %",NaN,NaN
4,4,Eule von Athen 1 ozMünzen Engel,"19,78 EUR","636,00 EUR","19,78 EUR","0,64 EUR","38,23 %",NaN,NaN
...,...,...,...,...,...,...,...,...,...
248,246,Canada Lunar Serie 1/2 ozFaller Edelmetalle,"34,90 EUR","2.244,10 EUR","69,80 EUR","2,24 EUR","387,73 %",NaN,NaN
249,247,Schwan 5 ozAuragentum.de,"349,00 EUR","2.244,20 EUR","69,80 EUR","2,24 EUR","387,75 %",NaN,NaN
250,248,"Comic, Kino & TV (Silber) 19,98 gmuenzdiscount.de","44,90 EUR","2.247,20 EUR","69,90 EUR","2,25 EUR","388,41 %",NaN,NaN
251,249,Evolution - Wonderful World 1 ozGeiger Edelmet...,"70,00 EUR","2.250,60 EUR","70,00 EUR","2,25 EUR","389,14 %",NaN,NaN
252,250,Niue Lunar Serie 5 ozMünzland,"355,00 EUR","2.282,70 EUR","71,00 EUR","2,28 EUR","396,12 %",NaN,NaN

In [63]:
# lets add the cleaning steps to the for loop to get the cleand DataFrames
df_list = list()
for file in file_list:
    df = pd.read_html(f'{folder_html}/{file}')
    df = df[1]
    
    # drop first row
    df = df.iloc[1:]
    
    # drop missing values
    df.dropna(axis = 1, how = 'all', inplace = True)
    df.dropna(axis = 0, how = 'all', inplace = True)
    
    # drop unrelevant columns
    if 'Aufgeld in %.1' in df.columns.values:
        df.drop(columns = 'Aufgeld in %.1', inplace = True)
    if 'Unnamed: 8' in df.columns.values:
        df.drop(columns = 'Unnamed: 8', inplace = True)

    # drop unrelevant row
    df.drop(index = df[df['Rang']=="Gesamte Aufgeldtabelle anzeigen"].index.values, inplace = True)
    
    #rename columns
    df.rename(columns = {'Produktbezeichnung':'Product', 'Produktpreis':'Price in EUR', 'Preis/kg':'Price/kg', 
                     'Preis/oz':'Price/oz', 'Preis/g':'Price/g', 'Aufgeld in %':'Premiums in %'}, inplace = True)

    # transform strings to make them into a float
    df['Price in EUR'] = df['Price in EUR'].map(lambda x: str(x).replace('EUR', '').strip().replace('.', '').replace(',','.'))
    df['Price/kg'] = df['Price/kg'].map(lambda x: str(x).replace('EUR', '').strip().replace('.', '').replace(',','.'))
    df['Price/oz'] = df['Price/oz'].map(lambda x: str(x).replace('EUR', '').strip().replace('.', '').replace(',','.'))
    df['Price/g'] = df['Price/g'].map(lambda x: str(x).replace('EUR', '').strip().replace('.', '').replace(',','.'))
    df['Premiums in %'] = df['Premiums in %'].map(lambda x: str(x).replace('%', '').strip().replace('.', '').replace(',','.'))
    
    # transform strings to floats
    df['Price in EUR'] = df['Price in EUR'].astype('float')
    df['Price/kg'] = df['Price/kg'].astype('float')
    df['Price/oz'] = df['Price/oz'].astype('float')
    df['Price/g'] = df['Price/g'].astype('float')
    df['Premiums in %'] = df['Premiums in %'].astype('float')
    
    #append cleaned DataFrame to a df_list
    df_list.append(df)

In [66]:
len(df_list)
# should be 11

11

In [90]:
df_list[1]

,Rang,Product,Price in EUR,Price/kg,Price/oz,Price/g,Premiums in %
1,1,Silberbarren 1000 ozGold & Silver World,16860.54,602.2,18.73,0.60,34.63
2,2,The Queens Beasts 2 ozMünzen Engel,38.40,617.3,19.20,0.62,38.01
3,3,Silberbarren 1 kgGeiger Edelmetalle,629.00,629.0,19.56,0.63,40.62
4,4,Kookaburra 1 kgMP Edelmetalle,637.29,637.3,19.82,0.64,42.48
5,5,Eule von Athen 1 ozMP Edelmetalle,20.01,643.3,20.01,0.64,43.82
...,...,...,...,...,...,...,...
248,246,Australian Opal Series 1 ozSilber-Corner.de,65.08,2092.4,65.08,2.09,367.79
249,247,China Lunar Serie 1 kgBellmann Münzen,2100.00,2100.0,65.32,2.10,369.49
250,248,Canada Lunar Serie 1/4 ozKleiner Münzhandel,17.10,2199.1,68.40,2.20,391.64
251,249,Bush Babies 1/2 ozGold-Silber-Muenzen-Shop,34.86,2241.5,69.72,2.24,401.12
252,250,Canada Lunar Serie 1/2 ozFaller Edelmetalle,34.90,2244.1,69.80,2.24,401.70

In [83]:
# test path
file_name = file_list[2].replace('.html', '.csv')

In [84]:
folder_csv + '/' + file_name

'Gold_de_csv/gold_de_29.04.2020.csv'

In [86]:
# for loop to get the csv for each DataFrame in df_list
for idx, file in enumerate(file_list):
    df = df_list[idx]
    file_name = file_list[idx].replace('.html', '.csv')
    path_to_csv = folder_csv + '/' + file_name
    df.to_csv(path_to_csv, index = None)